$back-color: teal;
$space: 10px;

.title {
    background-color: $back-color;
    color: #fff;
    padding: $space;
    border-radius: 3px;
    font-family: sans-serif;
    text-align: center;
    font-size: 3rem;
}